<div class="row">
    <div class="container">
<div class="logo">
    <img src="../../../assets/LogoAP.png" id="LogoAP">
</div>
<div class="redes">
    <div>
        <a href="https://www.facebook.com/IchBinGot/"><img src="../../../assets/facebook.png" alt=""></a>
        <a href="https://github.com/FlowersMaxi"><img src="../../../assets/github.png" alt=""></a>
        <a href="https://www.instagram.com/flowersmaxi/"><img src="../../../assets/instagram.png" alt=""></a>
        <a href="https://www.linkedin.com/in/maximiliano-gabriel-flores-16318b1b8/"><img src="../../../assets/linkedin.png" alt=""></a>
        <a href="https://twitter.com/_LordMakarov"><img src="../../../assets/twitter.png" alt=""></a>
        <button type="button" class="btn btn-outline-light" (click)="login()">INGRESO</button>
        <button type="button" class="btn btn-outline-light" (click)="onLofOut()">CERRAR SESION</button>
    </div>
</div>
    </div>
</div>

