<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>Trabajo 1</h1> - <h3>(years)</h3>
        </li>
        <p>
            Casa de Antigüedades Flores:
            Avenida Valette 1840, Luis Guillon
            Desde: Noviembre 2018 – Enero - 2021
            *Desempeño: Encargado
            *Responsable Ventas (Mercado Libre, OLX)
            *Atención Personalizada al Público

        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p>
            Mayorista la Boutique:
            (Av. Valette 1952, Luis Guillon /  Av. Monteverde 3735, Burzaco) 
            *Desde 25 de Enero de 2021 Hasta 23 de Mayo
            Desempeño:
            *Atención Personalizada al Público
            *Facturación en Caja
            *Sector Frio (Cámara, Batea)
            *Recepción de Mercadería
            *Vencimientos
            *Listado de Pedidos en Mercadería

        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> - <h3>(years)</h3>
        </li>
        <p>
            Sab-5 (Seguridad Privada)
            Desde 22 de Octubre 2021  - 6 de septiembre 2022
            *Desempeño: Vigilador Privado - Recepcionista

        </p>
    </ul>
</div>
</div>
