<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(2015)</h3>
            </li>
            <p>
                Secundario Completo: Escuela Media N° 3 ¨Martin Miguel de Guemes¨ - Luis Guillon / Bachiller en Ciencias Sociales
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>(2020)</h3>
            </li>
            <p>
                Actualmente Estudiante de la carrera ¨Tecnicatura Universitaria en desarrollo de Software¨ Universidad Provincial de Ezeiza - Barrio Uno
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>(2021)</h3>
            </li>
            <p>
                Licencia y certificación: Programador Web Jr Segunda Etapa 2022– En Curso*
            </p>
        </ul>
    </div>
    </div>
    
